<html>
<head>
<title>12Start</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (12Start.psd) -->
<table id="__01" width="801" height="558" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="images/12Start_01.gif" width="156" height="109" alt=""></td>
		<td colspan="2">
			<img src="images/12Start1_02.gif" width="644" height="109" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="109" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/12Start1_03.gif" width="156" height="53" alt=""></td>
		<td rowspan="7">
			<img src="images/12Start1_04.jpg" width="250" height="253" alt=""></td>
		<td rowspan="8">
			<img src="images/12Start1_05.gif" width="394" height="449" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="53" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="about.html" target="_self">
				<img src="images/12Start_04.gif" width="156" height="35" border="0" alt=""></a></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="card.html" target="_blink">
				<img src="images/12Start_05.gif" width="156" height="35" border="0" alt=""></a></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="exhibits.html" target="_top">
				<img src="images/12Start_06.gif" width="156" height="35" border="0" alt=""></a></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="members.html" target="_top">
				<img src="images/12Start_07.gif" width="156" height="35" border="0" alt=""></a></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="contact.html" target="_self">
				<img src="images/12Start_08.gif" width="156" height="35" border="0" alt=""></a></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="images/12Start1_11.gif" width="156" height="221" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/12Start1_12.gif" width="250" height="196" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="196" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>